/* src/style.css */
html, body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}
h3 {
  color: #555;
  margin-bottom: 10px;
}
div {
  background-color: #fff;
  border-radius: 8px;
  margin: 0px auto;
  padding: 10px;
  max-width: 800px;
}
button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  display: inline-block;
}
button:hover {
  background-color: #0056b3;
}
input[type="color"] {
  margin: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
}
p {
  color: #007bff;
  font-weight: bold;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
}
canvas {
  max-width: 100%;
  height: auto;
}
.game-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  box-sizing: border-box;
}
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-left: 10px;
}
.tools-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.brush-size-control {
  display: flex;
  align-items: center;
}

.brush-size-slider {
  width: 200px; /* 减小滑动条宽度 */
}

.brush-size-value {
  width: 130px;
  text-align: left;
}

.keyword-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
}

.keyword-input {
  flex-grow: 1;
  margin-right: 10px;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  background-color: transparent; /* 设置背景透明 */
  border: none; /* 无边框 */
}
.sidebar {
  width: 100%;
  max-width: 600px;
  margin-top: 0px; /* Reduce top margin to decrease space */
  display: flex;
  justify-content: center;
}
.max-players-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.max-players-label select {
  margin-left: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 32px);
}
.judge-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.judge-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  transition: all 0.3s ease;
}

.judge-button input {
  display: none;
}

.judge-button.approve {
  background-color: #4CAF50;
}

.judge-button.reject {
  background-color: #F44336;
}

.judge-button:hover {
  opacity: 0.8;
}

.judge-button.selected {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333;
}

.viewer-header {
  text-align: center;
  margin-bottom: 20px;
}

.viewer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewer-main {
  flex: 3;
  padding: 20px;
}

.players-list {
  position: fixed;
  top: 10px;
  align-self: flex-start; /* 确保在父容器的顶部对齐 */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 820px; /* 确保与主要内容有一定的间距 */
}

.players-list h3 {
  margin-top: 20;
}

.players-list ul {
  list-style-type: none;
  padding: 0;
}

.players-list li {
  margin-bottom: 10px;
}

